<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<b<div class="container">
    <h1 class="title">Login Form</h1>
    <div class="card">
        <form action="login" method="post" >
            <label for="">User name</label>
            <input type="text" name="email" placeholder="">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="">
            <div class="buttons">
              <a href="#" class="register-link">Register</a>
                <button type="submit" class="login-button">Login</button>
            </div>
        </form>
    </div>
</div>
<script src="js/validate.js"></script>
</body>
</html>

